node_modules/
.env
src/commands/clearchat.js
#ignoring tests for now - still in development
src/ava_tests/
src/tests/
corde.config.json
tsconfig.json
yarn.lock
package.json_for_tests
testdb.mongodb
credentials.json